body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  margin: 0;
}

h1,
h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

button {
  padding: 10px;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  color: white;
  margin: 4px;
}

ul {
  list-style: disc;
  padding-left: 40px;
}

/* Navigation */
nav {
  display: flex;
  width: 100%;
  align-items: center;
}

nav img {
  width: 40px;
  margin: 0;
}

nav .nav-logo {
  width: 10%;
}

nav .main-nav {
  width: 90%;
  display: flex;
  justify-content: end;
}

#about-button {
  background-color: #8893b7;
}

#shop-button {
  background-color: #8893b7;
}

#timer-button {
  background-color: #d8a057;
}

#entries-button {
  background-color: #d8a057;
}

.etb-header {
  padding: 20px;
}

/* Shop Page */
.shop-header-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.shop-header-img {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../ETB/img/shop.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.shop-header-text {
  background-color: #f5c74e;
  padding: 10px;
  border-radius: 4px;
}

.shop-item-price {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
}

.shop-gallery {
  display: flex;
  width: 100%;
  height: 100%;
}

.shop-gallery img {
  margin: 0;
}

.shop-egg {
  width: 50%;
  display: flex;
}

.shop-egg img {
  width: 100%;
  object-fit: cover;
}

.shop-add-on {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100%;
}

.shop-add-on img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-add-on-img-container {
  height: 50%;
}

.bundle {
  background-color: #d8a057;
  color: white;
  display: flex;
  flex-direction: column;
  height: 30%;
  font-weight: normal;
}

.buy-button {
  background-color: #e6e6e6;
  color: black;
}

.product {
  height: 200px;
  margin-top: 50px;
}

.product-buy-button {
  background-color: black;
  color: white;
}

.installments-button {
  background-color: #e6e6e6;
  color: black;
}

.add-on-img {
  width: 300px;
}

/* About Page */
#img-article {
  width: 100%;
  height: auto;
}

.cycle-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.cycle-icons img {
  max-width: 100px;
}

/* Timer Page */
.timer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.timer-container h1,
h3 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.timer-container h3 {
  font-weight: 500;
}

.timer-box {
  width: 75%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: white;
  font-family: "Krub", sans-serif;

  background: linear-gradient(to top, #f00, #90f);
}

.timer-segment {
  text-decoration: underline;
}

/* Entries Page */
.youtube-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.entries-grid {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.entries-grid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 3px solid transparent;
}

.entries-grid img:hover {
  border: 3px solid #5172db;
}

.view-button {
  background-color: black;
  color: white;
}

.entries-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.entries-text {
  width: 50%;
  justify-content: center;
}

/* Welcome Page */
.etb-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.etb-text {
  width: 75%;
}

.main-link-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.welcome-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.welcome-text {
  width: 75%;
  justify-content: center;
}

/* Product Page */
.product-info {
  display: flex;
  width: 100%;
}

.product-image {
  width: 50%;
}

.product-image img {
  width: 100%;
}

.product-info-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.product-add-on-container {
  display: flex;
  gap: 10px;
}

.product-add-on-container img {
  width: 100%;
}

.product-add-on-img-container {
  width: 50%;
}

.product-bundle {
  width: 50%;
  background-color: #d8a057;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: normal;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.product-headline {
  color: rgb(114, 114, 114);
}

.product-buy-button-container {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .shop-gallery {
    flex-direction: column;
  }

  nav .main-nav {
    justify-content: center;
    align-items: center;
  }

  .shop-egg,
  .shop-add-on {
    width: 100%;
  }

  .product-info {
    flex-direction: column;
  }

  .product-image {
    width: 100%;
  }
  .product-info-text {
    width: 100%;
  }
  .product-add-on-container {
    flex-direction: column;
  }

  .product-add-on-img-container {
    width: 100%;
  }

  .product-bundle {
    width: 100%;
  }

  .product-info-text {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .welcome-text {
    width: 100%;
  }

  .entries-text {
    width: 100%;
  }
}
